<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.password">_mk123_</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/LiquiBLQ</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.default_schema">public</property>
    <!-- SQL dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
    <!-- Print executed SQL to stdout -->
    <property name="show_sql">true</property>
    <!--Mapping-->
    <mapping class="com.shadows.liquiblq.data.entitys.Users"/>
    <mapping class="com.shadows.liquiblq.data.entitys.Sessions"/>
    <mapping class="com.shadows.liquiblq.data.entitys.Artist"/>
    <mapping class="com.shadows.liquiblq.data.entitys.Album"/>
    <mapping class="com.shadows.liquiblq.data.entitys.Songs"/>
    <mapping class="com.shadows.liquiblq.data.entitys.Genre"/>
    <mapping class="com.shadows.liquiblq.data.entitys.ArtistsInAlbums"/>
    <mapping class="com.shadows.liquiblq.data.entitys.SongsInAlbum"/>
  </session-factory>
</hibernate-configuration>
